@import "./globals.scss";

.quote {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 4rem auto 10rem auto;

  img {
    position: absolute;
    object-fit: cover;
    z-index: -1;

    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  @media screen and (max-width: 700px) {
    max-width: 90%;
    margin: 3rem auto;
  }
}

.icon {
  top: -10rem;
  right: -18rem;
  opacity: 0.8;
}

.iconBottom {
  bottom: -15rem;
  left: -18rem;
  z-index: -1;
}

.content {
  position: relative;
  p {
    text-align: center;
    color: $theme;
    line-height: 1.6;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    z-index: 5;
  }
}
